@model CovidTrackerApp.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDiagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDiagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKinName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextOfKinName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKinNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextOfKinNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deceased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deceased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue.VenueId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
